@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --bellefair--fnt: "Bellefair", serif;
  --barlow-condensed--fnt: "Barlow Condensed", sans-serif;
  --barlow--fnt: "Barlow", sans-serif;
  --primary-color: "#DOD6F9";
  --half-transparent--clr: rgba(255, 255, 255, 0.5);
}
